:host {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 25px;
    align-content: center;
    box-sizing: content-box;
    text-align: center;
}
img {
    width: 30%;
    align-content: center;
}
strong {
    display: flex;
    align-content: flex-start;
}